---
Name: restrictedcms
---
Injector:
  RestrictedFilter:
    class: RestrictedCmsHostFilter
    properties:
      allowedHosts: 
        'www.mysite.com': 'cms.mysite.com'
        'mysite.dev.sslocal': 'cms.mysite.dev.sslocal'
        '*': 404
      patterns:
        - ^upload
        - ^interactive
        - ^admin
        - ^dev
        - ^Security
Director:
  rules:
    restrictedcmshandler: RestrictedHostController

---
Name: restricted_frontend
Only:
  constantdefined: ENV_TYPE_FRONTEND
---
Injector:
  RequestProcessor:
    properties:
      filters: 
        - %$RestrictedFilter

---
Name: restricted_backend
Only:
  constantdefined: ENV_TYPE_BACKEND
---
Injector:
  RequestProcessor:
    properties:
      filters: 
        - %$RestrictedFilter
  # Include the cms.mysite.com hostname as being allowed for this backend server. 
  RestrictedFilter:
    properties:
      allowedHosts:
        'cms.mysite.com': 'cms.mysite.com'
Injector:
  Mailer:
    class: RestrictedCMSMailer
    properties:
      to_mailer: %$MailerClass
      # These should be replaced using your values from above.
      replace_body: 'cms.mysite.com'
      with: 'www.mysite.com'
  MailerClass:
    # This should be replaced with your mailer class.
    class: Mailer
